<h1>フォーメーション作成</h1>
<form method="POST" action="/posts">
  <div>
    <h4>フォーメーション</h4>
    <canvas id="pitch" width="300" height="450"></canvas>
  </div>

  <div>
    <p>チーム名: <input type="text" name="NAME"></p>
  </div>

  <div>
    <h4>詳細</h4>
    <input type="text" caption="CAPTION">
  </div>

  <p><input type="submit" value="作成完了"></p>
</form>