<h1>一覧</h1>
<table class="table">
    <thead>
        <tr>
            <th>スタジアム名</th>
            <th>保有チーム</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% stadiums.each do |stadium| %>
        <tr>
            <td><%= stadium.name %></td>
            <td><%= stadium.club.name %></td>
            <% if admin_signed_in? %>
            <td><%= link_to "スタジアムのページへ", admin_stadium_path(stadium) %></td>
            <td><%= link_to "編集", edit_admin_stadium_path(stadium) %></td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>