<h1>一覧</h1>
<table class="table">
    <thead>
        <tr>
            <th>スタジアム名</th>
            <th>保有チーム</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% stadiums.each do |stadium| %>
        <tr>
            <td><%= link_to stadium.name, admin_stadium_path(stadium) %></td>
            <td><%= stadium.club.name %></td>
            <td><%= link_to "編集", edit_admin_stadium_path(stadium), class: "btn btn-sm btn-success" %></td>
        </tr>
        <% end %>
    </tbody>
</table>