<h2><%= stadium.name %></h2>
<p>保有クラブ：<%= stadium.club.name %></p>
<% if admin_signed_in? %>
<%= link_to "スタジアムの編集", edit_admin_stadium_path, class: "btn btn-sm btn-success" %>
<%= link_to "スタジアムの一覧", admin_stadiums_path, class: "btn btn-sm btn-info" %>
<% end %>
