<h1>クラブ一覧</h1>
<table>
  <thead>
    <tr>
      <th>クラブ名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clubs.each do |club| %>
    <tr>
      <td><%= club.name %></td>
      <td><%= link_to "クラブ詳細", admin_club_path(club) %></td>
      <td><%= link_to "クラブの編集", edit_admin_club_path(club) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
