<div class="container px-5 px-sm-0">
  <div class="row">
      <div class="mx-auto">
        <%= render 'stadium_info', stadium: @stadium %>
      </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div>
        <%= render 'public/posts/format', { stadium: @stadium, post: @post } %>
      </div>
    </div>

    <div class"col-md-6 offset-md-1">
      <div>
        <%= render 'public/posts/index', { stadium: @stadium, posts: @posts } %>
      </div>
    </div>
  </div>
</div>